* {
    margin: 0;
    padding: 0;
}

:root {
    --bubble-color: #845EC2;
    --bubble-right-color: #FF6F91;
    --bubble-text-color: #FCF8FF;
}


.bubble-text {
    color: var(--bubble-text-color);
    margin: 10px 10px 10px 20px;
}

.bubble,
.bubble-cont {
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    background: var(--bubble-color);

    padding: 6px;
    margin-bottom: 10px;
    max-width: 300px;
    position: relative;

}

.bubble {
    border-radius: 0rem 1.6rem 1.6rem 0.8rem;
}

.bubble-cont {
    border-radius: 0.4rem 1.6rem 1.6rem 0.8rem;
}


.bubble::after {
    border-left: 8px solid transparent;
    border-top: 8px solid var(--bubble-color);

    content: "";
    position: absolute;
    left: -8px;
    top: 0px;

}


.bubble-right,
.bubble-right-cont {
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    background: var(--bubble-right-color);

    padding: 6px;
    margin-bottom: 10px;
    max-width: 300px;
    position: relative;

}

.bubble-right {
    border-radius: 1.6rem 0rem 0.8rem 1.6rem;
}

.bubble-right-cont {
    border-radius: 1.6rem 0.4rem 0.8rem 1.6rem;
}

.bubble-right::after {

    border-style: solid;
    border-width: 0px 0 8px 8px;
    border-color: transparent transparent transparent var(--bubble-right-color);
    content: "";
    position: absolute;
    right: -8px;
    top: 0px;

}